<!DOCTYPE html>
<html lang="en">

{{> "head" }}

<body>

{{> "overlayNoise" }}

{{> "adLhs" }}
{{> "adRhs" }}

<div class="viewport-wrapper">
	{{> "adLeaderboard" }}

	{{> "navbar" }}

	<div class="view-col-group--cancer h-100 mh-0">
		<div class="container container--main ve-flex-col h-100 min-h-0">
			<div class="cmchr-page__view-col ve-flex-col flex-1 w-100 min-h-0" id="charactermancer-main">
				<div class="ve-flex-vh-center initial-message initial-message--large w-100 h-100">Loading...</div>
			</div>
		</div>
	</div>
</div>

{{> "adFooter" }}

{{> "scripts" }}

</body>
</html>
